<h1>Editing page</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :permalink %><br />
    <%= f.text_field :permalink %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :body %><br />
		<%= render :partial => '/partials/bbcode_buttons', :locals => { :for_field => 'page_body' } -%>
		<%= f.text_area :body -%>
		<%= error_message_on :page, :body -%>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @page %> |
<%= link_to 'Back', pages_path %>